@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*---- RESET ----*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Playfair Display", serif;
}

/*---- HEADER ----*/

header{
    background-color: rgba(235, 235, 211, 0.4);
    margin: 30px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}

header h1{
    color: #99582A;
    font-size: 50px;
    padding: 30px;
}


.navbar {
    background-color:rgba(235, 235, 211, 0.0) !important;
}

.navbar-brand{
    font-size: 24px !important;
}

.nav-link{
    color: #99582A !important;
}

.nav-link:hover{
    color: rgb(165, 151, 151) !important;
}

header nav div div ul li{
    font-size: 25px;
    display: inline-block;
    margin: 10px;
}


/*---- body ----*/
.secc1{
    width: 100%;
    background-image: url(../img/img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.secc1 h2{
    font-size: 80px;
    color: #3C3744;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.secc1 p{
    font-size: 32px;
    margin-top: 100px;
    color: #1f1202;
    display: inline-block;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
}


hr{
    height: 5px;
    background-color: #3C3744;
    margin: 20px;
    border-radius: 10px;
}

.destacados{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.destacados div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.destacados div div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.destacados div div h3{
    font-size: 60px;
    color: #3C3744;

}

.destacados div div p{
    font-size: 25px;
    color: #3C3744;
    padding: 20px;
}

.destacados div img{
    margin-left: 20px;
    border-radius: 10px;
    height: 600px;
    width: 400px;
}

.envio{
    width: 100%;
    background-color: #e6e6aa;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.envio div{
    width: 350px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.envio div img{
    width: 170px;
    height: 170px;
}

.envio div p{
    font-size: 24px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

.conocenos h2{
    font-size: 50px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

.conocenos h3{
    font-size: 50px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

.nosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nosotros div{
    text-align: center;
    margin: 15px;
}

.nosotros div h3{
    font-size: 50px;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #99582A;
}


.nosotros div p{
    font-size: 25px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    padding-left: 60px;
    padding-right: 60px;
}

.linea-vertical{
    height: 430px;
    width: 20px;
    background-color: #3C3744;
    border-radius: 20px;
}

.staff{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}

.empleo{
    height: 400px;
    width: 23%;
    background-color: #1f1202;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empleo h2{
    color: #EBEBD3;
    margin-top: 30px;
}


.empleo form{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empleo form label{
    color: #EBEBD3;
    font-size: 24px;
}

.empleo form input{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.personal{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #e6e6aa;
    margin-left: 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}


.personal div{
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
}

.personal div img{
    height: 150px;
    width: 150px;
    border: 3px solid rgb(167, 137, 97);
    border-radius: 100%;
    margin-top: 20px;
}

.personal div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.personal div div h3{
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 24px;
    font-size: 30px;
    color: #3C3744;
}

.personal div div p{
    font-size: 18px;
    font-family: "Lora", serif;
    font-weight: 400;
}

.servicios{
    width: 100%;
    margin-bottom: 40px;
}

.servicios h2{
    text-align: center;
    font-size: 50px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #3C3744;

}

.tarjetas{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px 400px;
    row-gap: 40px;
    margin: auto;
}


.tarjeta{
    height: 400px;
    width: 250px;
    display: inline-block;
    border: 3px solid #3C3744;
    border-radius: 17px;
    text-align: center;
    background-color: #e6e6aa;
    margin: auto;
}

.tarjeta img{
    height: 300px;
    width: 100%;
    border-radius: 17px;
}

.tarjeta h3{
    font-size: 25px;
    color: #3C3744;
    margin-bottom: 10px;
}

.tarjeta a{
    text-decoration: none;
    background-color:#99582A ;
    color: #EBEBD3;
    border-radius: 6px;
    padding: 6px;
}

.tarjeta a:hover{
    color: #e6e6aa;
    background-color: rgb(94, 53, 24);
    transition: background-color 0,5s;
}

.contacto{
    display: flex;
    justify-content: space-around;
}

.banner{
    width: 1100px;
    height: 500px;
    background-image: url(../img/imgcontacto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.banner div{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.banner div h2{
    font-size: 70px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    color: #EBEBD3;
}

.banner div h3 a{
    font-size: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    color: #EBEBD3;
    text-decoration: none;
}

.banner div p{
    font-size: 35px;
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    color: #EBEBD3;
}

.contenedorFormulario{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.formulario{
    width: 70%;
    height: 400px;
    background-color: #e7e7c3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    margin: 30px;
}
.formulario h2{
    font-size: 70px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    color: #99582A;
}

.form-floating{
    width: 430px;
    margin-left: 30px;
}


.ubicacion iframe{
    width: 100%;
    height: 400px;
}

/*---- FOOTER ----*/

footer{
    background-color: #EBEBD3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}
footer div ul li img{
    width: 35px;
    height: 35px;
}

.fixed{
    position: fixed;
    right: 50px;
    bottom: 70px;
}

footer div h2{
    color: #99582A;
    font-size: 50px;
}
footer div ul{
    list-style: none;
}

footer div ul li{
    display: inline-block;
    padding-right: 40px;
}



/*-Responsive-*/


@media (max-width: 1206px){
    .tarjetas{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 400px 400px 400px;
    }
}

@media (max-width: 1075px){
    .staff{
        flex-direction: column;
        align-items: center;
    }
    .nosotros{
        flex-direction: column;
    }
    .linea-vertical{
        display: none;
    }
    .empleo{
        width: 70%;
        margin: 30px;
    }
}

@media (max-width: 1028px){
    .destacados div div h3{
        font-size: 50px;
    }
    .destacados div div p{
        font-size: 22px;
    }
    .nav-item{
        font-size: 20px;
    }
    .nav-link{
        font-size: 20px;
    }
}

@media (max-width: 912px){
    .tarjetas{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 400px);
    }
    .servicios h2{
        font-size: 40px;
    }
}

@media (max-width: 857px){
    .destacados div{
        flex-direction: column;
        align-items: center;
    }
    .destacados div img{
        display: none;
    }
}

@media(max-width: 800px){
    .secc1 h2{
        font-size: 50px;
    }
    .secc1 p{
        font-size: 24px;
    }
}

@media (max-width: 741px){
    .personal{
        width: 85%;
    }
    .personal div{
        margin-left: 10px;
    }
    .personal div div p{
        font-size: 16px;
    }
}

@media (max-width: 560px){
    .tarjetas{
        grid-template-columns: auto;
        grid-template-rows: repeat(8, 400px);
    }
    .servicios{
        text-align: center;
    }
}

@media (max-width: 496px){
    header{
        background-color: #EBEBD3;
        margin: 10px;
    }
    header h1{
        font-size: 35px;
    }
    footer div h2{
        font-size: 35px;
    }
}

@media (max-width: 462px){
    .personal div{
        flex-direction: column;
    }
}

@media (max-width: 446px){
    .nav-item{
        font-size: 20px;
    }
    .nav-link{
        font-size: 20px;
    }
}


@media (max-width: 428px){
    footer div h2{
        font-size: 35px;
    }
    footer div ul li{
        padding: 0;
        margin-left: 6px;
    }
}

@media (max-width: 400px){
    .nav-item{
        font-size: 16px;
    }
    .nav-link{
        font-size: 16px;
    }
}

@media (max-width: 380px){
    header h1{
        font-size: 25px;
    }
    .empleo{
        width: 100%;
    }
}
