header{
    background-color: nth($colores, 1);
    margin: 30px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    z-index: 1;
    h1{
        padding: 30px;
        a{
            text-decoration: none;
            color: nth($colores, 2);
            font-size: 50px;
            &:hover{
                color: nth($colores, 3);
            }
        }
    }
    nav{
        div{
            div{
                div{
                    ul{
                        li{
                            font-size: 25px !important;
                            display: inline-block;
                            margin: 10px;
                        }
                    }
                }
            }
        }
    }
}